body {
  background-color: rgb(203, 213, 225);
}
#container {
  background-color: rgb(167, 189, 221);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
}
.btn-option {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 9999px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #ffffff;
  color: #1c62d1;
  border: 2px solid transparent;
}
.btn-option:hover {
  background-color: #3b82f6;
  color: #ffffff;
  transform: scale(1.05);
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background-color: #2563eb;
  color: #ffffff;
}
